#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#allProducts {
    background-color: red;
}

#allProducts tr {
    background-color: green;
}

.hidden {
    visibility: hidden;
}